<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Countries</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/admin/home}">Home</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div class="container">
	<div th:if="!${#lists.isEmpty(countries)}">
		<h2>Countries List</h2>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Region</th>
				<th>Edit</th>
			</tr>
			<tr th:each="country : ${countries}">
				<td th:text="${country.countryId}"></td>
				<td th:text="${country.countryName}"></td>
				<td th:text="${country.region.regionName}"></td>
				<td>
                	<a th:href="${'/countries/edit/' + country.countryId}" class="btn btn-info"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
				</td>
			</tr>
		</table>		
	</div>
	<div th:if="${#lists.isEmpty(countries)}">
    	<tr>
        	<td>No country exists!</td>
    	</tr>
	</div>
</div>

</body>
</html>