html{
	color:black;
	background:azure;
}

body {
	border-width: 5px;
	border-style: solid;
	border-color: azure;
}

.footer{
    	margin-left:5%;
    	margin-right:5%;
    	margin-top:1%;
    	border-style: dotted;
    	background-color:#FFFFFF;
		border-top-color: #0066FF;
		border-bottom-color: #0066FF;
		text-align: center;
		font-family: "Sitka Heading";
} 
.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}
.form-signup {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
 
  }

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;

  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}